body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: black;
    color: white;
}

.nav-links, .auth {
    display: flex;
    gap: 20px;
}

.nav-links a, .auth a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: linear-gradient(135deg, #1db954, #191414);
    color: white;
}

.hero-text {
    max-width: 400px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background-color: #1db954;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}

.hero-img img {
    width: 350px;
}
